/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <1 1>;
            then-layer = <1>;
        };
    };

    behaviors {
        mt_HRM: mt_HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <260>;
            flavor = "tap-preferred";
        };

        CapWL: CapWL {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPWL";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        delete {
            bindings = <&kp DEL>;
            key-positions = <53 56>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BRANDX";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&none           &kp N1              &kp N2              &kp N3                  &kp N4                  &kp N5                                                      &kp N6           &kp N7                 &kp N8                   &kp N9               &kp N0               &none
&kp ESCAPE      &kp Q               &kp W               &kp F                   &kp P                   &kp B                                                       &kp J            &kp L                  &kp U                    &kp Y                &kp SEMICOLON        &none
&CapWL          &mt_HRM LEFT_WIN A  &mt_HRM LEFT_ALT R  &mt_HRM LEFT_CONTROL S  &mt_HRM LEFT_CONTROL T  &kp G                                                       &kp M            &mt_HRM RIGHT_SHIFT N  &mt_HRM RIGHT_CONTROL E  &mt_HRM RIGHT_ALT I  &mt_HRM RIGHT_WIN O  &kp SQT
&kp LEFT_SHIFT  &kp Z               &kp X               &kp C                   &kp D                   &kp V                     &kp LEFT_ALT    &kp C_PLAY_PAUSE  &kp K            &kp H                  &kp COMMA                &kp DOT              &kp FSLH             &kp EXCLAMATION
                                    &kp LGUI            &kp LALT                &kp LCTRL               &mt_HRM LEFT_SHIFT SPACE  &lt 5 TAB       &lt 2 ENTER       &lt 3 BACKSPACE  &mt RIGHT_CONTROL DEL  &kp RALT                 &kp RGUI
            >;

            sensor-bindings =
                <&inc_dec_kp LS(TAB) TAB>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_NAV {
            display-name = "NAV";
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans                    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_WIN  &trans
&trans  &trans        &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans         &trans         &trans
                      &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans
            >;
        };

        layer_SYS {
            display-name = "SYS";
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans                    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_WIN  &trans
&trans  &trans        &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans         &trans         &trans
                      &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans
            >;
        };

        layer_NUM {
            display-name = "NUM";
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans                    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_WIN  &trans
&trans  &trans        &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans         &trans         &trans
                      &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans
            >;
        };

        layer_FUNC {
            display-name = "FUNC";
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans                    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_WIN  &trans
&trans  &trans        &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans         &trans         &trans
                      &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans
            >;
        };

        layer_ACT {
            display-name = "ACT";
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans                    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_WIN  &trans
&trans  &trans        &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans         &trans         &trans
                      &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans
            >;
        };

        layer_MEDIA {
            display-name = "MEDIA";
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &trans        &trans        &trans            &trans          &trans                    &trans  &trans           &trans             &trans         &trans         &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans                    &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_WIN  &trans
&trans  &trans        &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans         &trans         &trans
                      &trans        &trans            &trans          &trans  &trans    &trans  &trans  &trans           &trans             &trans
            >;
        };
    };
};
